.App {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100wv;
	height: 100vh;
	background-color: #282c34;
	color: #fff;
	padding: 15px;
}

.frame {
	width: 340px;
	height: 200px;
	border: 2px solid #9de9d6;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.counter-screen {
	color: #9de9d6;
	background: #282c34;
	font-size: 50px;
	font-weight: bold;
	padding: 30px 0;
	border-radius: 3px;
	border: 2px solid #9de9d6;
}
.counter-screen__red {
	color: rgb(227, 16, 16);
	background: #282c34;
	font-size: 50px;
	font-weight: bold;
	padding: 30px 0;
	border-radius: 3px;
	border: 2px solid #9de9d6;
}

.button-group {
	padding: 20px;
	border: 2px solid #9de9d6;
	display: flex;
	justify-content: space-around;
	border-radius: 3px;
}

button {
	all: unset;
	min-width: 30%;
	background: #9de9d6;
	cursor: pointer;
	color: #282c34;
	padding: 3px 10px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: bold;
}
button:disabled,
button[disabled] {
	cursor: default;
	background: #486b62;
}

.input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	border: 2px solid #9de9d6;
	border-radius: 3px;
	padding: 20px 0;
}

.input-group__item {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}
.input-group__item label {
	font-size: 20px;
	font-weight: bold;
	color: #9de9d6;
	width: 50%;
	text-align: left;
}
.input-group__item input {
	width: 50%;
	text-align: center;
	outline: none;
	border: 2px solid #9de9d6;
	border-radius: 3px;
	padding: 5px 0;
}

@media (max-width: 768px) {
	.App {
		flex-direction: column-reverse;
		gap: 30px;
	}
}
